{% extends 'base.html.twig' %}

{% block title 'Agence' %}

{% block body %}
    <div class="jumbotron txt-center">
        <h1>Bienvenue Homies</h1>
        <p>nvvbvlmnvbln,mvlbn,mlvbn,vbijijtryioklrj,,gbbrrmnlbglgdjn,rt</p>
    </div>
{% endblock %}